$hc-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$hc-nature-accent: mat-palette($mat-deep-purple, 300);
$hc-nature-warn: mat-palette($mat-red, 600);

$hc-nature-theme: mat-light-theme(
  $hc-nature-primary,
  $hc-nature-accent,
  $hc-nature-warn
);
