<div class="container">
  <div *ngIf="posts$ | async" class="row">
    <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
    <table
      [dataSource]="dataSource"
      class="mat-elevation-z8" mat-table matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="favorite">
        <th *matHeaderCellDef mat-header-cell>
          Favorite
        </th>
        <td *matCellDef="let post" mat-cell>
          <mat-checkbox (change)="$event ? onToggleItem(post) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="post.favorite">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
        <td *matCellDef="let element" mat-cell> {{element.title}} </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <th *matHeaderCellDef mat-header-cell> Comment</th>
        <td *matCellDef="let element" mat-cell>
          <textarea
              #comment
              (change)="onChangeItemComment(element, comment.value)"
              *ngIf="element.favorite"
              [value]="element.comment"
              matInput
              placeholder="Leave a comment"></textarea>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let post; columns: displayedColumns;" mat-row>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
